.center{
  margin: auto;
  width: 800px;
  height: 800px;
}

#Chess_Board{
  border: 10px solid black;
  width: 800px;
  height: 800px;
  background-image: url(images/Chess_Board.png);
}

#wp1{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-image: url(images/pawn.png);
}
#wp2{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-image: url(images/pawn.png);
}
#wp3{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-image: url(images/pawn.png);
}
#wp4{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-image: url(images/pawn.png);
}
#wp5{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-image: url(images/pawn.png);
}
#wp6{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-image: url(images/pawn.png);
}
#wp7{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-image: url(images/pawn.png);
}
#wp8{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-image: url(images/pawn.png);
}

#wr1{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-image: url(images/rook.png);
}
#wr2{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-image: url(images/rook.png);
}

#wk1{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-image: url(images/knight.png);
}
#wk2{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-image: url(images/knight.png);
}

#wb1{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-image: url(images/Bishop.png);
}
#wb2{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-image: url(images/Bishop.png);
}

#wq{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-image: url(images/queen.png);
}

#wk{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-image: url(images/kingpng.png);
}

#bp1{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-image: url(images/pawn.png);
}
#bp2{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-image: url(images/pawn.png);
}
#bp3{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-image: url(images/pawn.png);
}
#bp4{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-image: url(images/pawn.png);
}
#bp5{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-image: url(images/pawn.png);
}
#bp6{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-image: url(images/pawn.png);
}
#bp7{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-image: url(images/pawn.png);
}
#bp8{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-image: url(images/pawn.png);
}

#br1{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-image: url(images/rook.png);
}
#br2{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-image: url(images/rook.png);
}

#bk1{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-image: url(images/knight.png);
}
#bk2{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-image: url(images/knight.png);
}

#bb1{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-image: url(images/Bishop.png);
}
#bb2{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-image: url(images/Bishop.png);
}

#bq{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-image: url(images/queen.png);
}

#bk{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-image: url(images/kingpng.png);
}